* {
    font-family:Tahoma
}


body {

    background-color: aquamarine;
    margin: 10px;
    text-align: center;
}

.piece {

    background-color: khaki;
    width: 60px;
    height: 60px;
    margin: 10px;

    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    font-size: 6px;
    border-radius: 8px;

}


.blocked{
    pointer-events:none;
}


.memoryGame{
    color: dodgerblue;
}

.pieceToGuess {
    background-color: dodgerblue;

}

.correctPiece {
    background-color: lightgreen;
}

.wrongPiece {
    background-color: firebrick;
}

.mainContainer {
    padding: 50px;

}

#piecesSection{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


p {
    display: inline;
    margin: 10px;
}

span {
    margin: 20px;
}

#naviSection{

    background-color: lightseagreen;
    border: 2px solid #4CAF50;
    margin:10px;

}

#highlightButton{
    width: 100px;
    height: 40px;
    margin: 10px;

}